{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
  <!-- Importamos código reutilizable del archivo _macro.html y lo ejecutamos utilizando funciones con parámetros -->
  {% from "_macro.html" import muestra_bloque_reutilizable %}
  {{ muestra_bloque_reutilizable( 'Comentario Privado' ) }}

  <!-- Importamos un formulario y lo mostramos -->
  {% from "_macro.html" import render_field %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form name="commentMessage" id="commentForm" method="POST">
          <!-- comment -->
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              {{ render_field(form.comment, class='form-control') }}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          {{ form.honeypot }}
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="alert alert-success">
    <p>archivo: {{ title }}</p>
  </div>

{% endblock %}