{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

  <!-- Importamos código reutilizable del archivo _macro.html y lo ejecutamos utilizando funciones con parámetros -->
  {% from "_macro.html" import muestra_bloque_reutilizable %}
  {{ muestra_bloque_reutilizable( 'Página de Inicio' ) }}

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
          <blockquotep class="text-alert">
            Página de Inicio
          </blockquotep>
      </div>
    </div>
  </div>

  <div class="alert alert-success">
    <p>archivo: index.html</p>
  </div>

{% endblock %}

