{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
  <!-- Importamos código reutilizable del archivo _macro.html y lo ejecutamos utilizando funciones con parámetros -->
  {% from "_macro.html" import muestra_bloque_reutilizable %}
  {{ muestra_bloque_reutilizable( 'Servicios' ) }}

  <div class="container">
    {% for item in list %}
      <p>{{ item }}</p>
    {% endfor%}
  </div>


  <div class="alert alert-success">
    <p>archivo: services.html </p>
  </div>

{% endblock %}

